# App Configuration
APP_PORT=

# PostgreSQL Configuration
POSTGRESQL_HOST=
POSTGRESQL_PORT=
POSTGRESQL_USER=
POSTGRESQL_PASSWORD=
POSTGRESQL_NAME=
POSTGRESQL_SSLMODE=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRY_HOURS=
